@media screen and (max-width:600px){

    *{
        font-family: 'helvetica';
    }
  .logo {
    width: auto;
    color: #001632;
    font-size: 10vw;
    /* background-color: yellow; */
}
  
.logo span {
    color: #0073ff;
}




 .menu-bar {
    background-color: transparent;
    min-height: 8vh;
    width: 100vw;
    
    /* background-color: rgb(153, 88, 51); */
    position: relative;
    /* display: none; */
  }
  .menu-bar .left{
    /* background-color: yellow; */
    width: auto;
    min-height: 8vh;
    display: flex;
    /* align-items: center; */
    
  }
  .menu-bar .right{
    /* background-color: teal; */
    min-height: 8vh;
    display: flex;
    /* align-items: center;  */
    justify-content: center;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
    /* display: none; */
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 2vw 2vw;
    /* text-align: center; */
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: #4e5d78;
    text-decoration: none;
    font-weight: 700;
  
    transition: all 0.3s;
    display: none;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  

  .menu-bar .right li button{
    /* margin-top: 2vw; */
    background-color: #484dff;
    color: white;
    font-size: 4vw;
    width: 25vw;
    height: 10vw;
    border: none;
    border-radius: 5vw;
    /* background-color: orange; */
    display: none;
}
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
    /* background-color: tan; */
    /* font-size: 10vw; */
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f0f7ff;
    /* background-color: red; */
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    /* margin: 10px; */
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
    /* height: 10vw; */
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: #f0f7ff;
  }
  

.top .above-nav{
    /* width: calc(100vw - 100vw); */
    width: 100vw;
    min-height: 8vh;
    /* background-color: #001632; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */

    /* display: none; */
    /* background-image: url('assets\\nav-bg2.jpg'); */
    /* background-size: cover; */
}
.above-nav h1{
    font-size: 1rem;
    color: lightblue;
    text-align: center;
    padding: 2vw;
}



.right .ham-img {
    /* padding: 0.5vw; */
    width: 3vw;
    height:3vw;
    /* background-color: blue; */
    display: block;
}
.right i{
  position: absolute;
  top: 0vh;
  right: 4vw;
  /* width: 100%; */
  /* font-size: 10vw; */
}
.side-bar{
    position: fixed;
    left: 0vw;
    top: 0;
    min-height: 100vh;
    width: 100%;
    display: none;
    align-items: start;
    justify-content: center;
    background: #f0f7ff;
    /* background: teal; */
    border: 1px solid #f0f7ff;
    border-radius: 1vw;
    /* transition: all ease 2s; */
}
.side-bar ul li , a{
    list-style: none;
    text-decoration: none;
}
.side-bar ul li {
    /* background-color: red; */
    padding: 1vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 1vw;
}
.side-bar ul li a{
    font-size: 5vw;
    /* background-color: yellow; */
    color: #2e3642;
    font-weight: 500;
}

.side-bar ul li a:hover {
    color: #484dff;
  }


.fas {
    float: right;
    margin-left: 1.5vw;
    padding-top: 3px;
  }

.side-bar .team:hover .rt{
    transition: all 0.3s;
    transform: rotate(90deg);

  }
  
  /* dropdown menu style */
.side-bar .dropdown-menu {
    display: none;
  }

.side-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 21.5%;
    /* right: 0; */
    top:27% ;
    background: #f0f7ff;
    /* border: 1px solid #f0f7ff; */
    /* border-radius: 1vw; */
    /* background-color: red; */
  }
  
  .side-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .side-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  .side-bar ul li:hover .dropdown-menu ul li a{
    font-size: 5vw;
    font-family:naimish;
  }
 .side-bar .dropdown-menu-1 {
    display: none;
  }
  
  .side-bar .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    /* right: 30vw; */
    left: 0%;
    top: 68%;
    background: #f0f7ff;
    border: 1px solid #f0f7ff;
    border-radius: 1vw;
    /* background-color: green; */
  }


















.main-body{
    /* margin-top: 2vw; */
    /* margin-left: 2vw;
    margin-right: 2vw; */
    
    /* background-color: beige; */
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* display: none; */

}
.main-body .main-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 0.5vw; */
    /* background-color: yellow; */
    /* display: none; */
}
.main-body .main-left h1{
    padding: 3vw;
    font-size: 10vw;
    color: var(--color-primary);
}
.main-body .main-left p{
    /* color: #4e5d78; */
    color: black;
    font-size: 4vw;
    font-weight: 500;
}
.main-body .main-btn{
    
    display: flex;
    align-items: center;
    gap: 1vw;
    /* background-color: yellow; */
    margin-left: 2vw;

}
.main-body .main-btn button{
    font-size: 5vw;
    width: 20vw;
    height: 10vw;
    
}
.main-body .main-btn p{
    margin-top: 2vw;
    color: #4e5d78;
    font-size: 4.5vw;

}
.main-body .main-right{
    width:100% ;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-content: center;
    /* background-color: red; */
    /* display: none; */
}
.main-body .main-right img{
  padding: 0vw 3vw;
    width: 100%;
    height: 50vh;
    /* background-color: yellow; */
}


html,body{
   /* background-color: forestgreen; */
    background-image: url('assets\\asset 38.svg');
    background-size: cover;
    background-repeat: no-repeat;

}








.center-body{
    width: 100vw;
    min-height: 225vh;
    /* height: auto; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    /* align-items: center; */
    /* display: none; */
    /* background-color: salmon; */
    /* margin-left: 2vw; */
    
}
.center-body .company-logo{
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-basis: 2; */
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    border-bottom: gray dotted 1px;
    padding-bottom: 5vw;
    /* padding: 3vw; */
    /* background-color: orange; */
    /* display: none; */
}
.center-body img{
    width: 50%;
    height: 5vh;
}
.center-body .services {
    min-height: 20vh;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-left: 2vw; */
    padding-top: 2vw;
    /* display: none; */
}
.center-body .services h4{
    color: #484dff;
    font-size:8vw;
    font-weight: 900;
    margin-left: 3vw;
    /* margin-top: 2vw; */
}

.center-body .services h1{
    color: #484dff;
    /* background-color: yellow; */
    margin-left: 3vw;
    /* margin-top: 1vw; */
    font-size: 5vw;
    /* font-weight: 1200; */
    
}
.center-body .services span{
    color: #1a3066;
}
.services-types{
    width: 100%;
    min-height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    /* padding-left: 5vw; */

    gap: 2vw;
    /* margin-left: 3vw; */
    /* transition: all ease-in-out 1s; */
    /* background-color: yellow; */
    /* display: none; */

}
.services-types .domain{
    
    min-height: 50vh;
    width: 100%;
    /* margin-top: 2vw; */
    border: 2px solid whitesmoke;
    /* border-spacing: 5px; */
    border-radius: 1vw;
    background:transparent;
    /* background-color: olive; */
    padding: 2vw;
    gap: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s ease-out;
    /* display: none; */
    border-radius: 1.5vw;


}
.services-types .domain:hover{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    scale: 1.01;
    /* transform: translateY(1vw); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.services-types .domain img{
    width: 15vw;
    height: 15vw;
}
.services-types .domain h2{
    font-size: 8vw;
    color: #0a1f44;

}
.services-types .domain p{
    color: #4e5d78;
    font-size: 5vw;
    /* font-weight: 00; */
}
.services-types .domain button{
    background-color: #484dff;
    color: white;
    font-size: 4vw;
    width: 30vw;
    height: 12vw;
    border: none;
    border-radius: 5vw;

}
.services-types .domain button:hover{
    font-weight: 900;
}
.center-lower{
    /* background-color: mediumseagreen; */
    width: 100vw;
    min-height:202vh;
    display: flex;
    flex-direction: column;
    /* margin-top: 5vw; */

    /* display: none; */
    /* align-items: center; */
    /* justify-content: space-between; */
}
.center-lower1{
    width: 100vw;
    min-height: 100vh;
    /* padding: 3vw; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;

    /* gap: 20vw; */
    align-items: center;
    justify-content: flex-start;
}
.center-lower2{
    width: 100vw;
    min-height: 100vh;
    /* padding: 3vw; */
    /* background-color: palevioletred; */
    flex-direction: column;

    display: flex;
    /* gap: 20vw; */
    align-items: center;
    justify-content: flex-start;
    
}
.center-lower .left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 3vw; */
    padding: 2vw;
    /* margin-left: 3vw; */
    /* background-color: cyan; */
}
.center-lower .left h2{
    font-size: 5vw;
    font-weight: 700;
    color: #484dff;
}
.center-lower .left h1{
    font-size: 8vw;
    color: #1a3066;
}
.center-lower .left p{
    color: #4e5d78;
    font-size: 4vw;
    font-weight: 500;
}
.center-lower .right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 3vw; */
    width: 100%;
    height: 45%;
    padding: 1vw;
    /* background-color: indigo; */
}
.center-lower .right img{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.experience {
    /* margin-top: 10vw; */
    width: 100%;
    min-height: 85vh;
    background-color: #001632;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    /* display: none; */
}
.experience .main-left{
    
    width: 100%;
    height: 70vh;
    /* height: auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background-color: green; */

}
.experience .main-left h1{
    font-size: 10vw;
    color: #ffffff;
    font-weight:700;
}
.experience .main-left p{
    font-size: 5vw;
    color: #ffffff;
    font-weight:500;
}
.experience .main-btn {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4vw;
    padding: 2vw;
    width: 100%;
    height: auto;
    
    /* background-color: red; */
    
}
.experience .main-btn button{
  
        /* margin-top: 2vw; */
        background-color: #484dff;
        color: white;
        font-size: 5vw;
        width: 30vw;
        height: 12vw;
        border: none;
        border-radius: 5vw;
        
    
    /* background-color: yellow; */
}
.experience .main-btn p{
    color: white;
    font-size:5vw;
    font-weight: 400;
    
    /* text-decoration:underline; */
}
.news-update{
    width: 100%;
    min-height: 260vh;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    gap: 0vw;
    align-items: center;
    /* display: none; */
}

.news-update .upper{
  width: 100%;
min-height: 15vh;
    /* background-color: red; */
    padding: 5vw;
}
.news-update .upper h2{
    text-align: center;
    font-size: 8vw;
    color: #484dff;

}
.news-update .upper h1{
    text-align: center;
    font-size: 5vw;
    color: #0a1f44;
    padding: 2vw;
    
}
.news-update .lower{
    /* background-color: yellow; */
    width: 100vw;
    min-height: 100vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    /* margin-left: 3vw; */

}
.news-update .lower .testimonial{
    
    min-height: 80vh;
    width: 100%;
    border: 1px solid whitesmoke;
    /* border-spacing: 5px; */
    border-radius: 2vw;
    background:transparent;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 3vw;
    /* gap: 1vw; */
    /* background-color: blue; */
    transition: all 0.3s ease-out;
}
.news-update .lower .testimonial img{
    width: 100%;
    height: 80%;
    border-radius: 2vw;
}
.news-update .lower .testimonial .btn1{
    background-color: rgb(158, 245, 158);
        color: rgb(2, 57, 2);
        font-size: 5vw;
        width: 30vw;
        height: 13vw;
    
        border: none;
        border-radius: 5vw;

}
.news-update .lower .testimonial h1{
    font-size:6vw;
    text-align: justify;
    font-weight: 700;
    color: #0a1f44;
}
.news-update .lower .testimonial h2{
    font-size: 4vw;
    text-align: justify;
    color: #2e3642;
    font-weight: 400;
}
.news-update .lower .testimonial button{
    background-color: #484dff;
        color: #ffffff;
        font-size: 4.5vw;
        width: 30vw;
        height: 13vw;
    
        border: none;
        border-radius: 5vw;

}
.statistics{
    background-color: #f0f7ff;
    /* background-color: tan; */
    width: 100%;
    min-height: 165vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    /* display: none; */
}
.statistics .upper{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;

}

.statistics .upper h2{
    padding-top: 8vw;
    text-align: center;
    font-size: 6vw;
    color: #484dff;

}
.statistics .upper h1{
    text-align: center;
    font-size: 3.5vw;
    color: #2e3642;
    padding: 2vw;

}
.statistics .lower{
    /* background-color: green; */
    width: 100%;
    min-height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 2vw; */
    padding: 1vw;
}
.statistics .lower .achievement{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    rotate: 87deg;
    
}
.statistics .lower .achievement h1{
    font-size: 15vw;
    color: #484dff;
}
.statistics .lower .achievement h2{
    font-size: 5vw;
    color: #4e5d78;
    font-weight: 400;
}
.statistics .lower  .nobg{
  width: 50vw;
    height: 50vw;
    border-radius: 50%;
    rotate: -0deg;
    background-color:white ;
    /* background-color:orchid ; */
}

.bottom{
    width: 100vw;
    min-height: 105vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    /* display: none; */
    /* gap: vw; */
    /* padding: 3vw; */
}
.bottom .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    /* background-color: yellow; */
}
.bottom .left img{
    /* background-color: palegreen; */
    padding-right: 8vw;
    width: 100%;
    height: 100%;

}
.bottom .right{
    width: 100%;
    min-height: 50vh;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2vw;
    padding: 2vw;
}
.bottom .right img{
    padding-top: 0.2vw;
    width: 8vw;
    height: 8vw;
    /* background-color: #0073ff; */
}
.bottom .right h2{
    font-size: 7vw;
    color: #484dff;
}
.bottom .right h1{
    font-size: 5vw;
    color: #0a1f44;
    font-weight: 700;
}
.bottom .right p{
    color: #4e5d78;
    font-weight: 500;
    font-size: 4vw;
}


.imgswiper{
    width: 100%;
    min-height: 95vh;
    background-color: #f0f7ff;
    /* display: none;  */
    
    /* background-color: blue; */
}
.imgswiper .swiper  .swiper-button-prev {
    /* background-color: red; */
    /* width: 3vw; */
    padding: 1vw;
    color: #4e5d78;
}
.imgswiper .swiper .swiper-button-next {
    /* background-color: red; */
    padding: 3vw;
    color: #4e5d78;
}
.imgswiper .swiper .left img{
    width: 90%;
    height: 90%;
    transition: all 0.3s ease-out;
    /* background-color: green; */
}

.imgswiper .swiper .swiper-wrapper .swiper-slide{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 10vw; */
    gap: 7vw;
    align-items: center;
    transition: all 0.3s ease-out;
    /* background-color: #f200b1; */
    /* display: flex; */
}


.imgswiper .swiper .swiper-wrapper .swiper-slide .left{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.imgswiper .swiper .swiper-wrapper .swiper-slide .right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* gap: -2vw; */
    /* gap: 1vw; */
    width: 100%;
    min-height: 30vh;
    /* background-color: aquamarine; */
    padding: 2vw;
}
.imgswiper .swiper .swiper-wrapper .swiper-slide .right p{
    color: #4e5d78;
    font-weight: 400;
    font-size:4vw

}
.imgswiper .swiper .swiper-wrapper .swiper-slide .right img{
    width: 30vw;
    height: 30vw;

}
.imgswiper .swiper .swiper-wrapper .swiper-slide .right h2{
    color: #2e3642;
    font-size: 6vw;
    font-weight: 700;

}
.footer{
    /* background-color: orchid; */
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    justify-content: flex-start;
    align-items: center;
    /* display: none; */

}

.footer .left{
    width: 100%;
    min-height: 30vh;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 5vw; */
    /* margin-left: 3vw; */
    /* padding: 2vw; */
}
.footer .left .upper{
    width: 100%;
    /* background-color: olive; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
    text-align: justify;
}
.footer .left .lower{
    width: 100%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;
    /* background-color: green; */
}
.footer .left .lower i{
  font-size: medium;
  /* display: none; */
}

.footer .left h1{
    color: #0073ff;
    font-size:15vw;
    font-weight: 900;
    text-align: center;
}
.footer .left .upper h2{
  font-size: 5vw;
  font-weight: 400;
  padding: 2vw;
}

.footer .right h1{
    color: #0073ff;
    font-size: 6vw;
    font-weight: 700;
}


.footer h2{
    font-size: 3.5vw;
    color: #4e5d78;
    font-weight: 500;
}
.footer .right{
    width: 100%;
    min-height: 85vh;
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 5vw; */
}

.footer .right .upper{
    /* background-color: yellow; */
    width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    /* font-weight: 700; */
}
.footer .right .middle{
    /* background-color: blueviolet; */
    width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}
.footer .right .lower{
    /* background-color: brown; */
    width: 100vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}

.footer-lower{
    width: 100vw;
    min-height: 10vh;
    /* background-color: yellow; */
}
.footer-lower h2{
    font-size: 4vw;
    font-style: italic;
}





}